li.comment
  article
    .comment-author
      img(src=gravatarUrl(comment), alt='gravatar').gravatar
      .comment-name= comment.name
    .comment-body
      .comment-meta= commentMeta(comment)
      .comment-content!= comment.content
    form(action=postPath(post) + '/comments/' + comment._id, method='post')
      input(type='hidden', name='_method', value='delete')
      input(type='submit', value='&times;', data-confirm='true').comment-delete-link
  .clearfix
