li.comment(id=commentAnchor(comment))
  article
    .comment-author
      img(src=gravatarUrl(comment), alt='gravatar').gravatar
      .comment-name
        if comment.website
          a(href=commentWebsite(comment))= comment.name
        else
          = comment.name
    .comment-body
      .comment-meta= commentMeta(comment)
      .comment-content!= comment.content
    if session.loggedIn
      form(action=postPath(post) + '/comments/' + comment._id, method='post').comment-delete-form
        input(type='hidden', name='_method', value='delete')
        input(type='submit', value='&times;', data-confirm='true').comment-delete-link
  .clearfix
