div(id='toolbar-#{post._id}').form-toolbar
  ul.toolbar-list.unstyled
    li.active: a(href='#').toolbar-edit Edit
    li: a(href='#').toolbar-preview Preview

form(method='post', action=(post.title ? postPath(post) : '/posts'), 
  accept-charset='utf-8').form-stacked
  fieldset
    input(type='hidden', name='_method', value=(post.title ? 'put' : 'post'))
    .clearfix
      label(for='post[title]') Title
      .input
        input(type='text', name='post[title]', value=post.title)
    .clearfix
      label(for='post[content]') Content
      .input
        textarea(rows='20', name='post[rawContent]')= post.rawContent
    .clearfix
      label(for='post[tags]') Tags
      .input
        input(type='text', name='post[tags]', value=post.tags.join(' '))
    .clearfix
      label(for='post[slug]') Slug
      .input
        input(type='text', name='post[slug]', value=post.slug)
    .clearfix
      ul.inputs-list
        li: label
          input(type='checkbox', name='post[public]', checked=post.public)
          span Public
        li: label
          input(type='checkbox', name='post[asPage]', checked=post.asPage)
          span As individual page
    .actions
      input(type='submit', name='commit', value='Submit').btn
      a(href='/').btn.cancel Cancel
